# 0.0. IMPORTS

In [1]:
import requests
import pandas as pd
import numpy as np

## 0.1. Help Functions

## 0.2. Loanding Data

In [2]:
url = 'https://fundsexplorer.com.br/ranking'

response = requests.get(url)
if response.status_code == 200:
  df = pd.read_html(response.content, encoding='utf-8')[0]

df.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,"R$ 3,33",11355.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 65.352.435,22","R$ 6,94",48.0,NaN,NaN,NaN,NaN,"56,00%",NaN,1
1,BZLI11,Títulos e Val. Mob.,"R$ 17,50",6.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 446.996.929,35","R$ 10,80",162.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,"R$ 8,82",2223.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 27.688.895,17","R$ 13,26",67.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
3,ALMI11,Lajes Corporativas,"R$ 921,00",17.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 224.382.977,88","R$ 2.018,25",46.0,NaN,NaN,NaN,NaN,"64,05%",NaN,1
4,PABY11,Híbrido,"R$ 13,99",23.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ -12.075.566,90","R$ -15,92",-88.0,NaN,NaN,NaN,NaN,NaN,NaN,1

## 0.3. Describe Data

In [3]:
df.sort_values('Códigodo fundo', inplace=True)
df.describe(include='all')

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
count,301,285,295,2.950000e+02,301,295,295,295,295,295,...,292,292,286.000000,80,80,80,80,124,30,301.000000
unique,298,11,285,NaN,140,115,180,213,213,103,...,289,282,NaN,60,66,71,78,73,18,NaN
top,HUSC11,Títulos e Val. Mob.,"R$ 8,72",NaN,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 116.606.431,00","R$ 99,89",NaN,"0,76%","-0,03%","0,65%","2,72%","0,00%","0,00%",NaN
freq,2,92,2,NaN,11,24,26,35,53,26,...,2,2,NaN,5,5,4,2,42,13,NaN
mean,NaN,NaN,NaN,2.982844e+04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,86.027972,NaN,NaN,NaN,NaN,NaN,NaN,2.920266
std,NaN,NaN,NaN,1.962783e+05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,61.196829,NaN,NaN,NaN,NaN,NaN,NaN,7.510013
min,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-88.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,1.995000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,2.235000e+03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,85.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,1.319400e+04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,95.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
max,NaN,NaN,NaN,3.180000e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,961.000000,NaN,NaN,NaN,NaN,NaN,NaN,72.000000

## 0.4. Data Cleaning

In [4]:
df['Setor'].unique()

array(['Shoppings', 'Títulos e Val. Mob.', nan, 'Lajes Corporativas',
       'Logística', 'Híbrido', 'Outros', 'Hospital', 'Residencial',
       'Hotel', 'Renda', 'Títulos e Valores Mobiliários'], dtype=object)

In [5]:
df.columns

Index(['Códigodo fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'DividendYield', 'DY (3M)Acumulado', 'DY (6M)Acumulado',
       'DY (12M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY (12M)Média',
       'DY Ano', 'Variação Preço', 'Rentab.Período', 'Rentab.Acumulada',
       'PatrimônioLíq.', 'VPA', 'P/VPA', 'DYPatrimonial',
       'VariaçãoPatrimonial', 'Rentab. Patr.no Período',
       'Rentab. Patr.Acumulada', 'VacânciaFísica', 'VacânciaFinanceira',
       'QuantidadeAtivos'],
      dtype='object')

In [6]:
df.isna().sum()

Códigodo fundo               0
Setor                       16
Preço Atual                  6
Liquidez Diária              6
Dividendo                    0
DividendYield                6
DY (3M)Acumulado             6
DY (6M)Acumulado             6
DY (12M)Acumulado            6
DY (3M)Média                 6
DY (6M)Média                 6
DY (12M)Média                6
DY Ano                      24
Variação Preço               6
Rentab.Período               6
Rentab.Acumulada             6
PatrimônioLíq.               9
VPA                          9
P/VPA                       15
DYPatrimonial              221
VariaçãoPatrimonial        221
Rentab. Patr.no Período    221
Rentab. Patr.Acumulada     221
VacânciaFísica             177
VacânciaFinanceira         271
QuantidadeAtivos             0
dtype: int64

In [7]:
categorical_columns = ['Códigodo fundo','Setor']
idx = df[df['Setor'].isna()].index
df[categorical_columns] = df[categorical_columns].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 33 to 23
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           301 non-null    category
 1   Setor                    285 non-null    category
 2   Preço Atual              295 non-null    object
 3   Liquidez Diária          295 non-null    float64
 4   Dividendo                301 non-null    object
 5   DividendYield            295 non-null    object
 6   DY (3M)Acumulado         295 non-null    object
 7   DY (6M)Acumulado         295 non-null    object
 8   DY (12M)Acumulado        295 non-null    object
 9   DY (3M)Média             295 non-null    object
 10  DY (6M)Média             295 non-null    object
 11  DY (12M)Média            295 non-null    object
 12  DY Ano                   277 non-null    object
 13  Variação Preço           295 non-null    object
 14  Rentab.Período           295 non-null    object
 15  Rentab.Acumulada         295 non-null    object
 16  PatrimônioLíq.           292 non-null    object
 17  VPA                      292 non-null    object
 18  P/VPA                    286 non-null    float64
 19  DYPatrimonial            80 non-null     object
 20  VariaçãoPatrimonial      80 non-null     object
 21  Rentab. Patr.no Período  80 non-null     object
 22  Rentab. Patr.Acumulada   80 non-null     object
 23  VacânciaFísica           124 non-null    object
 24  VacânciaFinanceira       30 non-null     object
 25  QuantidadeAtivos         301 non-null    int64
dtypes: category(2), float64(2), int64(1), object(21)
memory usage: 70.5+ KB

In [8]:
df.isna().sum()

Códigodo fundo               0
Setor                       16
Preço Atual                  6
Liquidez Diária              6
Dividendo                    0
DividendYield                6
DY (3M)Acumulado             6
DY (6M)Acumulado             6
DY (12M)Acumulado            6
DY (3M)Média                 6
DY (6M)Média                 6
DY (12M)Média                6
DY Ano                      24
Variação Preço               6
Rentab.Período               6
Rentab.Acumulada             6
PatrimônioLíq.               9
VPA                          9
P/VPA                       15
DYPatrimonial              221
VariaçãoPatrimonial        221
Rentab. Patr.no Período    221
Rentab. Patr.Acumulada     221
VacânciaFísica             177
VacânciaFinanceira         271
QuantidadeAtivos             0
dtype: int64

In [9]:
col_floats = list(df.iloc[:,2:-1].columns)
df[col_floats] = df[col_floats].fillna(value=0)
df[col_floats] = df[col_floats].applymap(lambda x: str(x).replace('R$', '').replace('%', '').replace('.','').replace(',','.'))
df[col_floats] = df[col_floats].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 33 to 23
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Códigodo fundo           301 non-null    category
 1   Setor                    285 non-null    category
 2   Preço Atual              301 non-null    float64
 3   Liquidez Diária          301 non-null    float64
 4   Dividendo                301 non-null    float64
 5   DividendYield            301 non-null    float64
 6   DY (3M)Acumulado         301 non-null    float64
 7   DY (6M)Acumulado         301 non-null    float64
 8   DY (12M)Acumulado        301 non-null    float64
 9   DY (3M)Média             301 non-null    float64
 10  DY (6M)Média             301 non-null    float64
 11  DY (12M)Média            301 non-null    float64
 12  DY Ano                   301 non-null    float64
 13  Variação Preço           301 non-null    float64
 14  Rentab.Período           301 non-null    float64
 15  Rentab.Acumulada         301 non-null    float64
 16  PatrimônioLíq.           301 non-null    float64
 17  VPA                      301 non-null    float64
 18  P/VPA                    301 non-null    float64
 19  DYPatrimonial            301 non-null    float64
 20  VariaçãoPatrimonial      301 non-null    float64
 21  Rentab. Patr.no Período  301 non-null    float64
 22  Rentab. Patr.Acumulada   301 non-null    float64
 23  VacânciaFísica           301 non-null    float64
 24  VacânciaFinanceira       301 non-null    float64
 25  QuantidadeAtivos         301 non-null    int64
dtypes: category(2), float64(23), int64(1)
memory usage: 70.5 KB

In [10]:
df.describe()

,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,DY (6M)Média,DY (12M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
count,301.000000,3.010000e+02,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,...,3.010000e+02,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,691.162326,2.923385e+05,4.794850,0.912193,2.462791,4.697907,8.780565,0.820864,0.782824,0.731827,...,5.305221e+08,702.885116,817.408638,0.235349,-0.094485,0.136611,-0.021993,6.120698,1.111993,2.920266
std,6279.838087,1.943505e+06,46.655819,0.716737,1.375152,2.593736,5.268203,0.458215,0.432310,0.439238,...,8.312106e+08,5737.073839,625.251893,0.517550,3.587468,3.541197,9.791961,16.195391,7.267228,7.510013
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.207557e+07,-15.920000,-880.000000,0.000000,-16.410000,-12.130000,-89.400000,0.000000,0.000000,0.000000
25%,52.550000,1.480000e+03,0.420000,0.710000,2.000000,3.800000,6.570000,0.670000,0.630000,0.550000,...,1.054195e+08,78.730000,690.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,82.500000,2.107000e+04,0.740000,0.910000,2.590000,4.980000,9.820000,0.860000,0.830000,0.820000,...,2.393221e+08,95.720000,840.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,97.990000,1.238800e+05,1.050000,1.120000,3.090000,6.250000,12.550000,1.030000,1.040000,1.050000,...,5.789850e+08,112.270000,940.000000,0.230000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000
max,76000.000000,3.180000e+07,783.960000,8.690000,13.410000,16.940000,23.670000,4.470000,2.820000,1.970000,...,7.516264e+09,67453.050000,9610.000000,5.130000,57.540000,58.430000,18.240000,100.000000,100.000000,72.000000

In [11]:
df[np.isinf(df[col_floats]).any(1)]

Empty DataFrame
Columns: [Códigodo fundo, Setor, Preço Atual, Liquidez Diária, Dividendo, DividendYield, DY (3M)Acumulado, DY (6M)Acumulado, DY (12M)Acumulado, DY (3M)Média, DY (6M)Média, DY (12M)Média, DY Ano, Variação Preço, Rentab.Período, Rentab.Acumulada, PatrimônioLíq., VPA, P/VPA, DYPatrimonial, VariaçãoPatrimonial, Rentab. Patr.no Período, Rentab. Patr.Acumulada, VacânciaFísica, VacânciaFinanceira, QuantidadeAtivos]
Index: []

[0 rows x 26 columns]

In [12]:
df['P/VPA'] = df['P/VPA']/100

In [13]:
df.describe()

,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,DY (6M)Média,DY (12M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
count,301.000000,3.010000e+02,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,...,3.010000e+02,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,691.162326,2.923385e+05,4.794850,0.912193,2.462791,4.697907,8.780565,0.820864,0.782824,0.731827,...,5.305221e+08,702.885116,8.174086,0.235349,-0.094485,0.136611,-0.021993,6.120698,1.111993,2.920266
std,6279.838087,1.943505e+06,46.655819,0.716737,1.375152,2.593736,5.268203,0.458215,0.432310,0.439238,...,8.312106e+08,5737.073839,6.252519,0.517550,3.587468,3.541197,9.791961,16.195391,7.267228,7.510013
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.207557e+07,-15.920000,-8.800000,0.000000,-16.410000,-12.130000,-89.400000,0.000000,0.000000,0.000000
25%,52.550000,1.480000e+03,0.420000,0.710000,2.000000,3.800000,6.570000,0.670000,0.630000,0.550000,...,1.054195e+08,78.730000,6.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,82.500000,2.107000e+04,0.740000,0.910000,2.590000,4.980000,9.820000,0.860000,0.830000,0.820000,...,2.393221e+08,95.720000,8.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,97.990000,1.238800e+05,1.050000,1.120000,3.090000,6.250000,12.550000,1.030000,1.040000,1.050000,...,5.789850e+08,112.270000,9.400000,0.230000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000
max,76000.000000,3.180000e+07,783.960000,8.690000,13.410000,16.940000,23.670000,4.470000,2.820000,1.970000,...,7.516264e+09,67453.050000,96.100000,5.130000,57.540000,58.430000,18.240000,100.000000,100.000000,72.000000

# 1.0. ANALYSIS

In [14]:
df.columns

Index(['Códigodo fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'DividendYield', 'DY (3M)Acumulado', 'DY (6M)Acumulado',
       'DY (12M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY (12M)Média',
       'DY Ano', 'Variação Preço', 'Rentab.Período', 'Rentab.Acumulada',
       'PatrimônioLíq.', 'VPA', 'P/VPA', 'DYPatrimonial',
       'VariaçãoPatrimonial', 'Rentab. Patr.no Período',
       'Rentab. Patr.Acumulada', 'VacânciaFísica', 'VacânciaFinanceira',
       'QuantidadeAtivos'],
      dtype='object')

In [15]:
indicadores = ['Códigodo fundo',
               'Setor',
               'DY (12M)Acumulado',
               'VacânciaFísica',
               'P/VPA',
               'QuantidadeAtivos',
               'Liquidez Diária']

In [16]:
df_aux = df[indicadores]

In [17]:
media_setor = df_aux.groupby('Setor').agg(['mean','std'])
media_setor

                              DY (12M)Acumulado           VacânciaFísica  \
                                           mean       std           mean
Setor
Hospital                               7.067500  4.823549       0.000000
Hotel                                  9.516667  3.158264      43.300000
Híbrido                                9.053673  5.160827       2.175510
Lajes Corporativas                     6.996585  4.205887      26.366341
Logística                              9.480000  2.000155       7.263636
Outros                                 9.546410  4.890434       2.342821
Renda                                  0.000000       NaN       0.000000
Residencial                            2.948000  4.789715       3.040000
Shoppings                              6.544348  3.175994      10.575652
Títulos e Val. Mob.                   11.652391  4.883459       0.000000
Títulos e Valores Mobiliários          0.000000       NaN       0.000000

                                              P/VPA            \
                                     std       mean       std
Setor
Hospital                        0.000000   8.325000  1.276388
Hotel                          37.498933   9.000000  2.954657
Híbrido                         5.054988   7.702041  3.362693
Lajes Corporativas             29.492080   6.900000  2.339872
Logística                      17.558000   8.286364  1.086846
Outros                          8.022720   7.633333  2.523608
Renda                                NaN   9.000000       NaN
Residencial                     8.802424   6.860000  6.419103
Shoppings                      11.903939   7.073913  2.035641
Títulos e Val. Mob.             0.000000  10.240217  9.977965
Títulos e Valores Mobiliários        NaN  10.400000       NaN

                              QuantidadeAtivos            Liquidez Diária  \
                                          mean        std            mean
Setor
Hospital                              0.750000   0.500000     1240.000000
Hotel                                 9.333333  12.096832    11900.000000
Híbrido                               3.612245   6.047783   882476.122449
Lajes Corporativas                    4.097561  10.270844    34833.170732
Logística                             7.636364   5.996391   110556.363636
Outros                                5.717949  13.768669   114261.794872
Renda                                 0.000000        NaN    49250.000000
Residencial                           0.600000   1.349897    17188.000000
Shoppings                             4.347826   5.305303    65936.521739
Títulos e Val. Mob.                   0.065217   0.625543   341964.891304
Títulos e Valores Mobiliários         0.000000        NaN    11380.000000


                                        std
Setor
Hospital                       8.943154e+02
Hotel                          1.395247e+04
Híbrido                        4.650162e+06
Lajes Corporativas             7.357540e+04
Logística                      1.403045e+05
Outros                         2.151364e+05
Renda                                   NaN
Residencial                    2.260234e+04
Shoppings                      1.234575e+05
Títulos e Val. Mob.            8.520629e+05
Títulos e Valores Mobiliários           NaN

In [18]:
media_setor.loc['Residencial',('DY (12M)Acumulado','mean')]

2.9479999999999995

In [19]:
def oportunidade_media_setor(df, setor='Shoppings', label_setor='Setor'):

  media_setor = df_aux.groupby('Setor').agg(['mean','std'])

  df_setor = df[df[label_setor].isin([setor])]

  filter_ = (df_setor['QuantidadeAtivos'] > 0) |\
            (df_setor['Liquidez Diária'] > 500 ) |\
            (df_setor['P/VPA'] < 1.0) |\
            (df_setor['DY (12M)Acumulado'] > media_setor.loc[setor, ('DY (12M)Acumulado','mean')])

  print('média do setor Yeld: {}'.format(media_setor.loc[setor,('DY (12M)Acumulado','mean') ]))
  print('média do setor p/VPA: {}'.format(media_setor.loc[setor,('P/VPA','mean')]))
  print('média do setor Ativos: {}'.format(media_setor.loc[setor,('QuantidadeAtivos','mean')]))

  return df_setor[filter_]

In [20]:
list(df['Setor'].unique())

['Shoppings',
 'Títulos e Val. Mob.',
 nan,
 'Lajes Corporativas',
 'Logística',
 'Híbrido',
 'Outros',
 'Hospital',
 'Residencial',
 'Hotel',
 'Renda',
 'Títulos e Valores Mobiliários']

In [21]:
oportunidade = oportunidade_media_setor(df_aux, setor='Logística')
oportunidade.sort_values('DY (12M)Acumulado', ascending=False , inplace=True)
oportunidade

média do setor Yeld: 9.48
média do setor p/VPA: 8.286363636363637
média do setor Ativos: 7.636363636363637

,Códigodo fundo,Setor,DY (12M)Acumulado,VacânciaFísica,P/VPA,QuantidadeAtivos,Liquidez Diária
94,PLOG11,Logística,12.31,20.4,6.9,1,3190.0
290,ALZR11,Logística,12.21,0.0,10.4,15,85380.0
282,MGLG11,Logística,12.00,0.0,6.6,3,8730.0
233,BLMG11,Logística,11.60,0.0,7.5,4,78940.0
200,RBLG11,Logística,10.93,0.0,9.5,1,100.0
103,VTLT11,Logística,10.67,0.0,9.2,1,29470.0
179,SDIL11,Logística,10.14,2.6,9.2,5,72880.0
159,FIIP11B,Logística,10.01,0.0,7.8,7,5620.0
121,HGLG11,Logística,9.95,6.9,10.5,17,249290.0
202,GGRC11,Logística,9.89,0.0,8.2,20,113290.0
175,EURO11,Logística,9.76,0.0,7.4,6,910.0
158,LGCP11,Logística,9.06,0.5,7.7,5,26200.0
108,HSLG11,Logística,8.93,1.1,7.9,5,49470.0
180,PQAG11,Logística,8.83,0.0,9.2,1,1010.0
204,RBRL11,Logística,8.82,0.0,6.9,6,91870.0
281,BTLG11,Logística,8.81,0.0,9.5,16,499510.0
153,LVBI11,Logística,8.59,0.5,8.1,10,231210.0
54,HLOG11,Logística,8.53,58.0,7.4,3,2950.0
144,XPLG11,Logística,8.45,8.8,8.0,13,370610.0
137,VILG11,Logística,8.38,0.0,8.4,16,206530.0
164,BRCO11,Logística,7.90,0.0,7.8,10,304850.0
39,CXTL11,Logística,2.79,61.0,8.2,3,230.0